// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  background-color: #f9f9f9;
  color: #717171;
  margin-bottom: 1rem;
  padding: 1rem;
}

.warning {
  background-color: $yellow;
  border: 2px solid $gray-4;
  background-image: linear-gradient(to bottom, lighten($yellow, 7%), darken($yellow, 7%));
  padding: 2% 2% 2%;
  color: #717171;
}