<div class="post-meta">
  <span class="post-date">{{ include.post.date | date_to_string }}</span>
  <span class="post-categories">
    {% for category in include.post.categories %}
      &bull;

      {% comment %}
        Check if this category has a corresponding page before decide
        to link to it. This is an O(n^2) operations so consider removing
        it and linking for all categories (or no categories) if this
        site has a lot of pages and/or a lot of categories.
      {% endcomment %}
      {% assign category_page = false %}
      {% for node in site.pages %}
        {% if node.category == category or node.title == category %}
          {% assign category_page = node %}
        {% endif %}
      {% endfor %}

      {% if category_page %}
        <a href="{{ category_page.url | relative_url }}">
          {{ category_page.title | default: category_page.category }}
        </a>
      {% else %}
        {{ category }}
      {% endif %}
    {% endfor %}
    
    {% comment %}
     Look the author details up from the site config.
    {% endcomment %}
    {% assign author = site.data.authors[page.author] %}
    {% comment %} Output author details if some exist. {% endcomment %}
    {% if author %}
      <p itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{ author.uri }}" target="_blank"> {{ author.name }}</a></p>
    {% endif %}
  </span>
  {% capture post_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture page_year %}{{ page.date | date: "%Y" }}{% endcapture %}
  {% assign post_year = post_year | plus: 0 %}
  {% assign page_year = page_year | plus: 0 %}
  {% capture this_year %}{{ "now" | date: "%Y" }}{% endcapture %}
  {% assign this_year = this_year | plus: 0 %}
  {% if post_year > 0 %}
    {% capture post_age %}{{this_year | minus: post_year }}{% endcapture %}
    {% else %}
    {% capture post_age %}{{this_year | minus: page_year }}{% endcapture %}
  {% endif %}
  {% assign post_age = post_age | plus: 0 %}
  {% if post_age > site.warn_age or (post.autowarn == true or page.autowarn == true) %}
  {% include svg/sym-warning.svg %}
  <div class="warning">
    <svg class="icon-warning"><use href="#icon-warning" ></use></svg>Warning: this post is {{ post_age }} years old and the content may no longer be accurate.
  </div>
  {% endif %}  
</div>
